.first_slide {
    width: 80%;
    height: 700px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../../../../src/assets/images/carouselOne.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.second_slide {
    width: 80%;
    height: 700px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../../../../src/assets/images/carouselTwo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.third_slide {
    width: 80%;
    height: 700px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../../../../src/assets/images/carouselThree.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media (max-width: 1210px) {
    .slider_item {
        width: 800px;
        margin: auto;
    }
    .slider_item_inner {
        gap: 2;
    }
    .leaving_city, .departure_city, .date_pickr {
        width: 200px;
    }
    .src_btn {
        width: 110px;
    }
}
@media (max-width: 1035px) {
    .slider_item {
        width: 750px;
    }
    .leaving_city,
    .departure_city,
    .date_pickr {
        width: 180px;
    }
}
@media (max-width: 970px) {
    .slider_item {
        width: 610px;
    }
    .leaving_city,
    .departure_city,
    .date_pickr {
        width: 140px;
    }
}
@media only screen and (max-width: 820px) {
    .slider_item {
        width: 300px;
    }
    .slider_item_inner {
        height: 300px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px;
    }
    .leaving_city,
    .departure_city,
    .date_pickr {
        width: 250px;
    }
    .src_btn {
        width: 110px;
    }
}


@media (max-width: 768px) {
    .first_slide,
    .second_slide,
    .third_slide {
        height: 550px;
    }
    .slide_main {
        width: 94%;
    }
}
@media (max-width: 480px) {
    .first_slide,
    .second_slide,
    .third_slide {
        height: 450px;
    }
}